body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 2%;
}
.topo{
 background-color: red;
 border-radius: 7px;
}
.meio{
background-color: gray;
border-radius: 7px;
}
.final{
background-color: blue;
border-radius: 3%;
}
.div{
    justify-content: center;
    display: flex;
}
.p{
    margin: 20px;
}

